* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* Changed font family to go with my asthetic */
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #FDE5E3;
    color: #1e2122;
}

header {
    background-color: #AC8D92;
    color: 1A1915;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       /* moves nav to right*/
    justify-content: flex-end;
    align-items: center;
}


.logo {
 
    font-size: 48px;
    /* moves logo to left*/
    margin-right: auto;
}

.cap {
    color:  #ffe6ec;
}

.nav {
    list-style-type: none;
    padding-top: 15px;
    margin-right: 5px;
    font-size: 30px;
    /* keeps links inline instead of stacked */
    display: inline-block;
      
}

/* Changed nav li */
.nav li {
    display: inline-block;
    /* moves the content in nav bar to right*/
    margin-left: 50px;
}

a {
    /* link color when not visited */
    color: #4b3648;
    text-decoration: none;
}

/* Added a hover effect of turning pink when hovered over. */
.nav li a:hover {
    color: #FBDAE1  
}
/* Added a vidited effect of turning purple when link is visited. */
.nav li a:visited {
    color: #745f63  
}


p {
    font-size: 18px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

main {
    width: 75%;
    display: inline-block;
    margin: 20px;
    padding-top: 20px;
    height: 40%;
    background-color: #F7CCD5;
    font-size: 20px;
    
}


.skills {
    padding-top: 20px;
    margin-top: 20px;
    margin-right: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 40%;
    background-color: #F7CCD5;
    
}



h3 {
    margin-bottom: 32px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px;
}

.maininfo {
display: inline-block;
margin: 20px;


}

img {
    display: block;
    margin: 5px;
    max-width: 250px;
    max-height: 400px;
    padding: 5px;
}

/*
Images for applications... hover effect
*/
ul {
    margin: 10px;
    list-style: none;
}
ul li {
    margin: 10px;
    display: inline-block;
}
ul li a {
    padding: 5px;
    display: inline-block;      
    border: none;
}
ul li a img {
    width: 250px;
    height: 250px;
    display: block;
}
ul li a:hover img {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #AC8D92;
    list-style-type: none;
    text-align: center; 
    padding-top: 20px;
    padding-bottom: 20px;
   
    
}

/*
#AC8D92 background color nav & foot
#1A1915 font color
#FDE5E3 page background color
#FBDAE1 hover
#FBC9D4 background of main boxes
#F7CCD5 aside
*/
